.container {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  /* background-color: grey; */
  background-color: grey;
  margin: 100px;
  display: grid;
  grid-template-columns: 3fr 0.5fr 3fr;

  .box {
    flex-grow: 1;
    background-color: grey;
    height: 100%;
    overflow-y: scroll;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    p {
      padding: 10px;
      cursor: pointer;
    }
    p:hover{
        transition: 0.4s;
        background-color: rgb(172, 172, 172);
    }
    .Active {
      background-color: azure !important;
    }
    .nalla {
      background-color: green !important;
    }
  }

  .options {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    button {
      cursor: pointer;

      height: 40px;
      width: 40px;

      transition: 0.4s;
      border-radius: 20px;
      border: 1px solid black;
    }
  }
}
