.movies-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  padding: 20px;
  .movie-card {
    border-radius: 10px;
    padding: 10px;
    background-color: #e3e3e3;
    border-radius: 10px;
    color: #000;
    .image-container  {
      height: 400px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .material-symbols-outlined {
      font-size: 0.6rem !important;
    }
    .rating {
      color: #fff;
      font-size: 0.6rem;
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      font-weight: 900;
      background-color: #000;
    }
  }
}
